html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  line-height: 1.6;
  letter-spacing: -0.011em;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
  margin-bottom: 1.5em;
}

#root {
  font-family: Fira Sans, Helvetica;
}


#header {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.read-paper-card {
  width: 500px;
  min-width: 500px;
}

#navbar {
  background-color: rgba(255, 255, 255, 0);
  /* Fully transparent */
  transition: background-color 0.3s ease;
  /* Smooth transition */
  max-width: 100%;
}

#navbar a {
  cursor: pointer;
  color: white;
  font-size: 36px;
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  flex-wrap: wrap;
}

.about-section div {
  width: 45%;
  display: flex;
}

.about {
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.paper-link {
  padding-left: 155px;
}

.waitlist {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
  .about-section div {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center
  }

  .waitlist {
    min-width: unset;
    width: 80%;
    padding: 30px;
    max-width: 450px;
  }
}

.waitlist-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#csv-table {
  width: 700px;
  /* font-family: Fira Sans, sans-serif; */
  text-align: left;
  margin-top: 30px;
}

#data-section li {
  margin-top: 15px;
  /* margin-left:70px; */
  list-style: none;
}

#team {
  padding-top: 50px;
}

#meet-team {
  width: 100%;
  background-color: rgb(247, 247, 247);
  padding: 30px;
  /* margin-left: 55px; */
}

.member {
  text-align: center;
  display: grid;
  place-items: center;
  /* Centers the image */
  padding: 0 10px;
  box-sizing: border-box;
}

.member img {
  height: 200px;
  margin-top: 10px;
  max-width: 100%;
}

.all-cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
}


#team-table {
  width: 750px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgb(247, 247, 247);
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 50px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 15px;
    row-gap: 30px;
  }
}

.footer img {
  margin-right: 30px;
  margin-left: 30px;
}

#contact {
  padding-top: 50px;
  /* width: 90%; */
}

#personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#personal-info input {
  width: 250px;
}

