#root {
  font-family: Fira Sans, Helvetica;
}

#header {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.read-paper-card {
  width: 500px;
  min-width: 500px;
}

#navbar a {
  cursor: pointer;
}

.about-section {
  display: flex;
  justify-content: flex-start;
  /* Center the content horizontally */

  /* Optional: Add some margin */
  padding-top: 60px;
}

.about-section div {
  width: 45%;
}

.about {
  padding-left: 55px;
}

.paper-link {
  padding-left: 55px;
}

#csv-table {
  width: 700px;
  /* font-family: Fira Sans, sans-serif; */
  text-align: left;
  margin-top: 30px;
}

#data-section li {
  margin-top: 15px;
  /* margin-left:70px; */
  list-style: none;
}

#team {
  padding-top: 50px;
}

#meet-team {
  width: 100%;
  margin-left: 55px;

}

.all-cards{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
}


#team-table {
  width: 750px;
}

.footer img {
  height: 100px;
  margin-left: 30px;
}

#contact {
  padding-top: 50px;
  /* width: 90%; */
}

#personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#personal-info input {
  width: 250px;
}