#header {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.ch-header-content h1 {
  font-size: 10rem;
  /* Very large font size */
  color: white;
  /* Adjust to ensure visibility against the background */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  /* Text shadow for readability */
  margin: 0;
  /* Remove default margins */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.read-paper-card {
  width: 500px;
  min-width: 500px;
}


.about-section {
  display: flex;
  justify-content: flex-start;
  /* Center the content horizontally */
  
  /* Optional: Add some margin */
  padding-top: 60px;
}

.about-section div{
  width: 45%;
  margin-left: 55px;
}

.download-show {
  padding-left: 25px;
}

#csv-table {
  width: 700px;
  font-family: Fira Sans, sans-serif;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 40px;
}

#data-section {
  margin-left: 55px;
}

#data-section li {
  margin-top: 15px;
  margin-left:70px;
  list-style: none;
}

#team{
  padding-top: 50px;
}

#meet-team {
  width: 100%;
  margin-left: 55px;
  
}

.team-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

#team-table {
  width: 750px;
}

.footer img {
  height: 100px;
  margin-left: 30px;
}